<div class="treemap">

  <div>
    <svg #rootSvg></svg>
  </div>
  <div #tooltip></div>

  <span class="metric">
    <p>
      <mat-button-toggle-group (valueChange)="ToggleSelect($event)">
        <mat-button-toggle value="Z_Layout">Z_Layout</mat-button-toggle>
        <mat-button-toggle value="Sequence">Sequence</mat-button-toggle>
        <mat-button-toggle value="Local_Random">Local_Random</mat-button-toggle>
        <mat-button-toggle value="Global_Random">Globla_Landom</mat-button-toggle>
      </mat-button-toggle-group>
    </p>
    

    <mat-form-field appearance="fill">
      <mat-label>Select Data File</mat-label>
      <mat-select>
        <mat-option *ngFor="let d of data" [value]="d" (blur)="select(d)">
          {{d}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="card-list">
      <mat-card id="card">
        <mat-card-title>Total Length</mat-card-title>
        <mat-card-content>{{measurement[0]}}</mat-card-content>
      </mat-card>
      <mat-card id="card">
        <mat-card-title>Edge Crossing</mat-card-title>
        <mat-card-content>{{measurement[1]}}</mat-card-content>
      </mat-card>
      <mat-card id="card">
        <mat-card-title>Total Bending</mat-card-title>
        <mat-card-content>{{measurement[2]}}</mat-card-content>
      </mat-card>
      <br>
    </div>

    <div class="card-list">
      <h1>Random_statistics</h1>
      <mat-card id="card">
        <mat-card-title>Total Length</mat-card-title>
        <mat-card-content>{{random_measurement[0]}}</mat-card-content>
      </mat-card>
      <mat-card id="card">
        <mat-card-title>Edge Crossing</mat-card-title>
        <mat-card-content>{{random_measurement[1]}}</mat-card-content>
      </mat-card>
      <mat-card id="card">
        <mat-card-title>Total Bending</mat-card-title>
        <mat-card-content>{{random_measurement[2]}}</mat-card-content>
      </mat-card>
      <br>
    </div>
  </span>




</div>
